In [41]:
import pandas as pd
import sys
import os
sys.path.append(os.path.abspath(os.path.join('..', 'scripts')))
from top_10_criptos import top_10_criptos

*Analistando DF das Top 10 Criptos*

In [42]:
df_top10 = top_10_criptos()
df_top10.head()

,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,bitcoin,btc,Bitcoin,https://coin-images.coingecko.com/coins/images...,59444.00,1174602115311,1,1249408801418,31253953808,61361.000,...,2.100000e+07,21000000.0,73738.00,-17.41093,2024-03-14T07:10:36.635Z,67.810000,8.971031e+04,2013-07-06T00:00:00.000Z,None,2024-08-20T18:47:24.308Z
1,ethereum,eth,Ethereum,https://coin-images.coingecko.com/coins/images...,2597.12,312669815184,2,312669815184,12814797350,2697.940,...,1.202889e+08,NaN,4878.26,-45.39091,2021-11-10T14:24:19.604Z,0.432979,6.151665e+05,2015-10-20T00:00:00.000Z,"{'times': 57.414475154275756, 'currency': 'btc...",2024-08-20T18:47:24.774Z
2,tether,usdt,Tether,https://coin-images.coingecko.com/coins/images...,1.00,117020201497,3,117020201497,41949852225,1.005,...,1.169936e+11,NaN,1.32,-24.40327,2018-07-24T00:00:00.000Z,0.572521,7.470394e+01,2015-03-02T00:00:00.000Z,None,2024-08-20T18:47:24.668Z
3,binancecoin,bnb,BNB,https://coin-images.coingecko.com/coins/images...,569.02,83073308863,4,83073308863,1276956092,573.480,...,1.458876e+08,200000000.0,717.48,-20.82975,2024-06-06T14:10:59.816Z,0.039818,1.426469e+06,2017-10-19T00:00:00.000Z,None,2024-08-20T18:46:41.147Z
4,solana,sol,Solana,https://coin-images.coingecko.com/coins/images...,143.69,67043258080,5,83759461144,2644385197,148.670,...,5.827298e+08,NaN,259.96,-44.87834,2021-11-06T21:54:35.825Z,0.500801,2.851292e+04,2020-05-11T19:35:23.449Z,None,2024-08-20T18:46:46.889Z

In [43]:
df_top10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                10 non-null     object
 1   symbol                            10 non-null     object
 2   name                              10 non-null     object
 3   image                             10 non-null     object
 4   current_price                     10 non-null     float64
 5   market_cap                        10 non-null     int64
 6   market_cap_rank                   10 non-null     int64
 7   fully_diluted_valuation           10 non-null     int64
 8   total_volume                      10 non-null     int64
 9   high_24h                          10 non-null     float64
 10  low_24h                           10 non-null     float64
 11  price_change_24h                  10 non-null     float64
 12  price_change_percentage_24h       10 non-null     float64
 13  market_cap_change_24h             10 non-null     float64
 14  market_cap_change_percentage_24h  10 non-null     float64
 15  circulating_supply                10 non-null     float64
 16  total_supply                      10 non-null     float64
 17  max_supply                        3 non-null      float64
 18  ath                               10 non-null     float64
 19  ath_change_percentage             10 non-null     float64
 20  ath_date                          10 non-null     object
 21  atl                               10 non-null     float64
 22  atl_change_percentage             10 non-null     float64
 23  atl_date                          10 non-null     object
 24  roi                               1 non-null      object
 25  last_updated                      10 non-null     object
dtypes: float64(14), int64(4), object(8)
memory usage: 2.2+ KB

In [44]:
df_top10 = df_top10.drop(['id', 'image','market_cap_change_24h','market_cap_change_percentage_24h','circulating_supply','total_supply','max_supply','roi'], axis=1)

In [45]:
df_top10.head()

,symbol,name,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,low_24h,price_change_24h,price_change_percentage_24h,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,last_updated
0,btc,Bitcoin,59444.00,1174602115311,1,1249408801418,31253953808,61361.000,58710.000000,333.970000,0.56500,73738.00,-17.41093,2024-03-14T07:10:36.635Z,67.810000,8.971031e+04,2013-07-06T00:00:00.000Z,2024-08-20T18:47:24.308Z
1,eth,Ethereum,2597.12,312669815184,2,312669815184,12814797350,2697.940,2562.110000,-13.209717,-0.50606,4878.26,-45.39091,2021-11-10T14:24:19.604Z,0.432979,6.151665e+05,2015-10-20T00:00:00.000Z,2024-08-20T18:47:24.774Z
2,usdt,Tether,1.00,117020201497,3,117020201497,41949852225,1.005,0.998249,0.000108,0.01084,1.32,-24.40327,2018-07-24T00:00:00.000Z,0.572521,7.470394e+01,2015-03-02T00:00:00.000Z,2024-08-20T18:47:24.668Z
3,bnb,BNB,569.02,83073308863,4,83073308863,1276956092,573.480,550.500000,15.440000,2.78965,717.48,-20.82975,2024-06-06T14:10:59.816Z,0.039818,1.426469e+06,2017-10-19T00:00:00.000Z,2024-08-20T18:46:41.147Z
4,sol,Solana,143.69,67043258080,5,83759461144,2644385197,148.670,141.120000,-0.392909,-0.27270,259.96,-44.87834,2021-11-06T21:54:35.825Z,0.500801,2.851292e+04,2020-05-11T19:35:23.449Z,2024-08-20T18:46:46.889Z

In [46]:
df_top10 = df_top10.drop(['fully_diluted_valuation', 'market_cap'], axis=1)
df_top10.head()

,symbol,name,current_price,market_cap_rank,total_volume,high_24h,low_24h,price_change_24h,price_change_percentage_24h,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,last_updated
0,btc,Bitcoin,59444.00,1,31253953808,61361.000,58710.000000,333.970000,0.56500,73738.00,-17.41093,2024-03-14T07:10:36.635Z,67.810000,8.971031e+04,2013-07-06T00:00:00.000Z,2024-08-20T18:47:24.308Z
1,eth,Ethereum,2597.12,2,12814797350,2697.940,2562.110000,-13.209717,-0.50606,4878.26,-45.39091,2021-11-10T14:24:19.604Z,0.432979,6.151665e+05,2015-10-20T00:00:00.000Z,2024-08-20T18:47:24.774Z
2,usdt,Tether,1.00,3,41949852225,1.005,0.998249,0.000108,0.01084,1.32,-24.40327,2018-07-24T00:00:00.000Z,0.572521,7.470394e+01,2015-03-02T00:00:00.000Z,2024-08-20T18:47:24.668Z
3,bnb,BNB,569.02,4,1276956092,573.480,550.500000,15.440000,2.78965,717.48,-20.82975,2024-06-06T14:10:59.816Z,0.039818,1.426469e+06,2017-10-19T00:00:00.000Z,2024-08-20T18:46:41.147Z
4,sol,Solana,143.69,5,2644385197,148.670,141.120000,-0.392909,-0.27270,259.96,-44.87834,2021-11-06T21:54:35.825Z,0.500801,2.851292e+04,2020-05-11T19:35:23.449Z,2024-08-20T18:46:46.889Z

In [47]:
df_top10[['symbol', 'name']] = df_top10[['symbol', 'name']].astype('string')
df_top10['symbol'] = df_top10['symbol'].str.upper()

In [48]:
df_top10.head()

,symbol,name,current_price,market_cap_rank,total_volume,high_24h,low_24h,price_change_24h,price_change_percentage_24h,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,last_updated
0,BTC,Bitcoin,59444.00,1,31253953808,61361.000,58710.000000,333.970000,0.56500,73738.00,-17.41093,2024-03-14T07:10:36.635Z,67.810000,8.971031e+04,2013-07-06T00:00:00.000Z,2024-08-20T18:47:24.308Z
1,ETH,Ethereum,2597.12,2,12814797350,2697.940,2562.110000,-13.209717,-0.50606,4878.26,-45.39091,2021-11-10T14:24:19.604Z,0.432979,6.151665e+05,2015-10-20T00:00:00.000Z,2024-08-20T18:47:24.774Z
2,USDT,Tether,1.00,3,41949852225,1.005,0.998249,0.000108,0.01084,1.32,-24.40327,2018-07-24T00:00:00.000Z,0.572521,7.470394e+01,2015-03-02T00:00:00.000Z,2024-08-20T18:47:24.668Z
3,BNB,BNB,569.02,4,1276956092,573.480,550.500000,15.440000,2.78965,717.48,-20.82975,2024-06-06T14:10:59.816Z,0.039818,1.426469e+06,2017-10-19T00:00:00.000Z,2024-08-20T18:46:41.147Z
4,SOL,Solana,143.69,5,2644385197,148.670,141.120000,-0.392909,-0.27270,259.96,-44.87834,2021-11-06T21:54:35.825Z,0.500801,2.851292e+04,2020-05-11T19:35:23.449Z,2024-08-20T18:46:46.889Z

In [49]:
df_top10['ath_date'] = pd.to_datetime(df_top10['ath_date']).dt.date
df_top10['atl_date'] = pd.to_datetime(df_top10['atl_date']).dt.date
df_top10['last_updated'] = pd.to_datetime(df_top10['last_updated']).dt.date

In [50]:
df_top10.head()

,symbol,name,current_price,market_cap_rank,total_volume,high_24h,low_24h,price_change_24h,price_change_percentage_24h,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,last_updated
0,BTC,Bitcoin,59444.00,1,31253953808,61361.000,58710.000000,333.970000,0.56500,73738.00,-17.41093,2024-03-14,67.810000,8.971031e+04,2013-07-06,2024-08-20
1,ETH,Ethereum,2597.12,2,12814797350,2697.940,2562.110000,-13.209717,-0.50606,4878.26,-45.39091,2021-11-10,0.432979,6.151665e+05,2015-10-20,2024-08-20
2,USDT,Tether,1.00,3,41949852225,1.005,0.998249,0.000108,0.01084,1.32,-24.40327,2018-07-24,0.572521,7.470394e+01,2015-03-02,2024-08-20
3,BNB,BNB,569.02,4,1276956092,573.480,550.500000,15.440000,2.78965,717.48,-20.82975,2024-06-06,0.039818,1.426469e+06,2017-10-19,2024-08-20
4,SOL,Solana,143.69,5,2644385197,148.670,141.120000,-0.392909,-0.27270,259.96,-44.87834,2021-11-06,0.500801,2.851292e+04,2020-05-11,2024-08-20

In [51]:
df_top10.rename(columns={
    'symbol':'sigla',
    'name': 'nome',
    'current_prince': 'preco_atual',
    'market_cap': 'capitalizacao_mercado',
    'market_cap_rank': 'posicao_mercado',
    'total_volume ' : 'volume_total',
    'high_24h' : 'preco_max_24h',
    'low_24h' : 'preco_min_24h',
    'price_change_24h': 'variacao_preco_24h',
    'price_change_percentage_24h' : 'percentual_variacao_24h',
    'ath': 'max_historico',
    'ath_change_percentage': 'percentual_variacao_max_historico',
    'ath_date': 'data_max_historico',
    'atl': 'min_historico',
    'atl_change_percentage': 'percentual_variacao_min_historico',
    'atl_date': 'data_min_historico',
    'last_updated': 'ultima_atualizacao'
}, inplace=True)

In [52]:
df_top10 = df_top10.drop(['percentual_variacao_max_historico', 'percentual_variacao_min_historico'], axis=1)

In [53]:
df_top10.head()

,sigla,nome,current_price,posicao_mercado,total_volume,preco_max_24h,preco_min_24h,variacao_preco_24h,percentual_variacao_24h,max_historico,data_max_historico,min_historico,data_min_historico,ultima_atualizacao
0,BTC,Bitcoin,59444.00,1,31253953808,61361.000,58710.000000,333.970000,0.56500,73738.00,2024-03-14,67.810000,2013-07-06,2024-08-20
1,ETH,Ethereum,2597.12,2,12814797350,2697.940,2562.110000,-13.209717,-0.50606,4878.26,2021-11-10,0.432979,2015-10-20,2024-08-20
2,USDT,Tether,1.00,3,41949852225,1.005,0.998249,0.000108,0.01084,1.32,2018-07-24,0.572521,2015-03-02,2024-08-20
3,BNB,BNB,569.02,4,1276956092,573.480,550.500000,15.440000,2.78965,717.48,2024-06-06,0.039818,2017-10-19,2024-08-20
4,SOL,Solana,143.69,5,2644385197,148.670,141.120000,-0.392909,-0.27270,259.96,2021-11-06,0.500801,2020-05-11,2024-08-20

In [54]:
df_top10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   sigla                    10 non-null     string
 1   nome                     10 non-null     string
 2   current_price            10 non-null     float64
 3   posicao_mercado          10 non-null     int64
 4   total_volume             10 non-null     int64
 5   preco_max_24h            10 non-null     float64
 6   preco_min_24h            10 non-null     float64
 7   variacao_preco_24h       10 non-null     float64
 8   percentual_variacao_24h  10 non-null     float64
 9   max_historico            10 non-null     float64
 10  data_max_historico       10 non-null     object
 11  min_historico            10 non-null     float64
 12  data_min_historico       10 non-null     object
 13  ultima_atualizacao       10 non-null     object
dtypes: float64(7), int64(2), object(3), string(2)
memory usage: 1.2+ KB